*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

color:white;

}

.phone{

width:390px;

min-height:844px;

background:#020617;

border-radius:40px;

overflow:hidden;

}

.topbar{

display:flex;

justify-content:space-between;

padding:20px;

background:#111827;

}

.hero{

text-align:center;

padding:40px 20px;

}

.hero i{

font-size:70px;

color:#00e676;

}

.card{

margin:20px;

padding:20px;

background:#1e293b;

border-radius:20px;

}

input{

width:100%;

padding:15px;

border:none;

border-radius:15px;

margin-top:15px;

}

button{

width:100%;

padding:15px;

margin-top:15px;

background:#00e676;

border:none;

border-radius:15px;

font-weight:bold;

cursor:pointer;

}

.bottomNav{

position:fixed;

bottom:20px;

width:350px;

display:flex;

justify-content:space-around;

background:#111827;

padding:20px;

border-radius:25px;

}

.bottomNav i{

font-size:22px;

}